html {
    font-size: 15px;
}

body {
    font-family: Consolas, monotype;
    text-align: center;
    color: #DDD;
    background-color: #333;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul, li {
    list-style-type: none;
}

li::before {
    content: "✅";
    position: absolute;
    margin-left: -1.6rem;
    margin-top: -0.12rem;
}

#generate {
    max-width: 550px;
    margin: 0 auto;
    text-align: justify;
}

.horizontal-line {
    padding-bottom: 1px;
    background: linear-gradient(90deg, #666 0%, #333 100%);
}

.smalltext {
    font-size: 0.75em;
    text-align: center;
}

.entryNo {
    color: #555;
}

.changelog {
    margin-top: 0px;
    padding-inline-start: 2.6rem;
}

.date {
    font-size: 0.75em;
    color: #999;
    margin-left: 1em;
}

a,
a:active,
a:visited {
    color: #EEE;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}